/* ------------------------------------------------------------------------- *
 *  Reset - http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126
 * ------------------------------------------------------------------------- */
html {-webkit-backface-visibility:hidden;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* ------------------------------------------------------------------------- *
 *  Base Styles
/* ------------------------------------------------------------------------- */
body { background: #fff; font-size: 16px; line-height: 1.8em; color: #333; font-weight: 400; overflow-x: hidden; }
::selection { background: #fff4cc; color: #000; }
::-moz-selection { background: #fff4cc; color: #000; }
a { color: #222; text-decoration: none; outline: 0; }
img { max-width: 100%; height: auto; vertical-align: middle; }
.left,.alignleft { float: left; }
.right,.alignright { float: right; }
.aligncenter { margin-left: auto; margin-right: auto; display: block; }

/*  base : clear
/* ------------------------------------ */
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }
.group { zoom: 1; }


/* ------------------------------------------------------------------------- *
 *  Common
/* ------------------------------------------------------------------------- */

/*  common : grid
/* ------------------------------------ */
.grid { margin-right: 2.1%; float: left; display: inline; position: relative; }
.last { clear: right; margin-right: 0!important; }

.one-full { margin-right: 0; width: 100%; overflow: hidden; }
.one-half { width: 48.9%; }
.one-third { width: 31.9%; }
.two-third { width: 65.9%; }

/*  common : container
/* ------------------------------------ */
.container { margin: 0 auto; width: 720px; }
.sidebar-wrapper { display: none; }
.withsidebar section.container, .withsidebar footer .container { width: 980px; }
.withsidebar .content-wrapper { width: 700px; float: left; }
.withsidebar .sidebar-wrapper { width: 260px; float: left; margin-left: 20px; display: block; }
.container:after { content: ""; display: table; clear: both; }


/*  common : fonts
/* ------------------------------------ */

body, input, textarea, button, select, label
{ font-family: "Merriweather", Georgia, serif; }

article .content-title, article .content-time, article .content-meta, footer, header .open-menu,
.sidefooter, .sidenav, .paging, .search-input input, .archive-header h1, .archive-header span,
.comment-wrapper h3.heading, .comment-table li, .comment-respond, #commentform label,
.themeform input, .themeform textarea, .themeform button, .commentlist .fn, .commentlist .comment-meta a,
.author-box h5, .related-article-content > h3, .prev-next-article .date, .meta-article-header,
.sidebar-wrapper h1.widget-title, .sidebar-wrapper h1.widget-title
{ font-family: 'Lato', sans-serif; }

.sidenav, header .open-menu > span
{ font-family: 'Open Sans', sans-serif; }


/*
{ font-family: 'Playfair Display', sans-serif; }
{ font-family: "Lora", serif; }
*/


/*  common : sidebar
/* ------------------------------------ */

.sidebar-wrapper {
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 14px;
}

.sidebar-wrapper, footer .widget {
    font-size: 14px;
}

.widget p {
    padding: 10px 0;
}

.widget.aside {
    margin-bottom: 20px;
}

.widget h1.widget-title {
    background: #f6f6f6;
    color: #555;
    display: block;
    font-size: 0.9em;
    letter-spacing: 0.2em;
    margin-bottom: 14px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-top: 8px;
    text-transform: uppercase;
}

.widget ul { margin: 0 0 15px 20px; }
.widget ol ol,
.widget ol ul,
.widget ul ul,
.widget ul ol { margin-bottom: 0; }
.widget li { margin: 7px 0; }
.widget ul li,
.widget ol ul li { list-style: square; }
.widget ol li,
.widget ol ul ol li { list-style: decimal; }
.widget ul li { list-style: circle; }


.widget .widget-content-wrapper {
    padding: 0 10px 10px;
}

/** footer sidebar **/
.container.footerwidget {
    margin-top: 40px;
}

footer .widget h1.widget-title {
    text-align: center;
}

/* ------------------------------------------------------------------------- *
 *  Header
/* ------------------------------------------------------------------------- */

header { background: #fff; }
header.title-centered { border-bottom: 1px solid #ddd; padding: 80px 0 65px; text-align: center; }
header.title-centered .introduction { padding: 20px 0; }

header .open-menu {
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    padding: 30px 20px 0;
}
header .open-menu i {
    color: #444;
    font-size: 21px;
    vertical-align: middle;
    display: inline-block;
}
header .open-menu > span {
    display: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    overflow: hidden;
    padding-left: 15px;
    padding-top: 1px;
    position: absolute;
    vertical-align: middle;
}

.logo {
    display: inline-block;
}

/* ------------------------------------------------------------------------- *
 *  Footer
/* ------------------------------------------------------------------------- */

footer {
    border-top: 1px solid #ddd;

}

.footersocial {
    padding: 50px 0 30px;
    text-align: center;
}

.foot-social li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.foot-social li a {
    color: #444;
}

.foot-social li a:hover {
    color: #888;
}

footer .copyright {
    color: #a4abb2;
    display: block;
    font-size: 0.65em;
    letter-spacing: 0.2em;
    margin: 15px 0;
    text-transform: uppercase;
}

/* ------------------------------------------------------------------------- *
 *  Section
/* ------------------------------------------------------------------------- */

section.container {
    padding: 100px 0;
}

section article {
    padding: 50px 0;
}

section article.full-content {
    padding: 0 0 15px;
}

section article:first-child {
    padding-top: 0;
}

article.short-content {
    text-align: center;
}

article .content-title, article .content-time {
    text-align: center;
}

article .content-time {
    margin-top: 10px;
}

article .content-time,
article .content-meta {
    color: #a4abb2;
    display: block;
    font-size: 0.75em;
    letter-spacing: 0.2em;
    margin-bottom: 25px;
    text-transform: uppercase;
}

article .content-meta {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

article .content-title {
    font-size: 2.4em;
    line-height: 1.6em;
    overflow: hidden;
    font-weight: bold;
    color: #000000;
    display: block;
    text-align: center;
    margin-top: 10px;
}

article .readmore {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}

article .content-meta a, article .content-time a {
    color: #a4abb2;
}

article .content-meta a:hover, article .content-time a:hover {
    color: #000;
}


.entry a, .paging a {
    color: #333;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    outline: 0;
}

.entry a:hover, article .content-meta a:hover,
.themeform a:hover, article .content-time a:hover {
    background: #fff4cc;
    border-color: rgba(0, 0, 0, 0);
}

.entry img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.quote-content-wrap {
    position: relative;
}

.quote-content {
    font-size: 30px;
    line-height: 1.8em;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 30px;
}

.quote-content:before, .quote-content:after {
    color: #333;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 70px;
    position: absolute;
}

.quote-content:before {
    content: "“";
    left: -10px;
    top: 30px;
}

/*
.quote-content:after {
    content: "\f10e";
    right: -10px;
    bottom: 10px;
}
*/

.author-image {
    border-radius: 100%;
    height: 75px;
    margin: 20px auto;
    overflow: hidden;
    width: 75px;
}

.paging {
    margin-bottom: 20px;
    text-align: center;
}

.paging span, .paging a {
    margin: 0 5px;
    padding: 0 5px;
}

.paging a {
    border-bottom: 1px solid #555;
    font-weight: bold;
    padding-bottom: 5px;
}

.paging .page-detail {
    color: #a4abb2;
    display: block;
    font-size: 0.65em;
    letter-spacing: 0.2em;
    margin: 15px 0;
    text-transform: uppercase;
}

.paging .jump-page.next:after {
    font-family: FontAwesome;
    content: "\f178";
    display: inline-block;
    border-bottom: none;
    padding-left: 10px;
    position: absolute;
}

.paging a:hover {
    border-color: rgba(0, 0, 0, 0);
}

.withsidebar .feature-holder {
    margin: 20px 0px 30px;
}

.feature-holder {
    margin: 20px -50px 30px;
    position: relative;
}

.feature-holder:after {
    content: "";
    display: table;
    clear: both;
}


/** notebook **/

.notebook {
    padding: 37px 55px 27px;
    position: relative;
    border: 1px solid #B5B5B5;
    background: white;
    background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 59px;
    background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 59px;
    background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 59px;
    -webkit-background-size: 100% 29px;
    -moz-background-size: 100% 29px;
    -ms-background-size: 100% 29px;
    background-size: 100% 29px;
    text-align: left;
    margin-top: 35px;
}

.notebook::before {
    content:"";
    z-index:-1;
    margin:0 1px;
    height:10px;
    position:absolute;
    bottom:-3px;
    left:0;
    background:white;
    border:1px solid #B5B5B5;
    width: 99%;
}

.notebook::after {
    content:'';
    position:absolute;
    width:0px;
    top:0;
    left:39px;
    bottom:0;
    border-left:1px solid #F8D3D3;
}



/** chat bubble **/

.chat-wrapper {
    padding-top: 40px;
}

.chat-left {
    text-align: left;
}

.chat-right {
    text-align: right;
}

.chat-author {
    display: block;
    margin-top: 20px;
}

.chat-author-image {
    border-radius: 100%;
    display: inline-block;
    height: 40px;
    margin-left: 10px;
    overflow: hidden;
    width: 40px;
}

.chat-author-name {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -15px;
    font-size: 14px;
}

.chat-right .bubble {
    background: #f0f0f0;
}

.chat-right .bubble:after {
    border-color: #f0f0f0 transparent;
}

.bubble
{
    position: relative;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 4px;
    border: 1px solid #b5b5b5;
    display: inline-block;
    padding: 15px 40px 15px 20px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 9px 9px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -9px;
    left: 14px;
}

.bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #7D7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -10px;
    left: 13px;
}

.chat-right .bubble:after {
    right: 14px;
    left: auto;
}

.chat-right .bubble:before {
    right: 13px;
    left: auto;
}

/** link post **/
a.link-post {
    background: black;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 10px 50px;
}

a.link-post:hover {
    background: #666;
    color: #fff;
}


/** archive **/
.archive-header {
    text-align: center;
}

.archive-body {
    margin: 50px 0 50px;
}

.archive-header span, .archive-time {
    color: #a4abb2;
    display: block;
    font-size: 0.75em;
    letter-spacing: 0.2em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.archive-time {
    float: left;
    margin-bottom: 0;
    width: 33%;
    text-align: right;
    line-height: 3.3em;
}

.archive-title {
    display: block;
    float: left;
    font-size: 21px;
    text-align: left;
    width: 67%;
}

.archive-title a {
    padding-left: 35px;
    display: block;
    line-height: 1.8em;
}

.archive-header h1 {
    color: #000000;
    display: inline-block;
    font-size: 2.4em;
    font-weight: bold;
    line-height: 1.6em;
    overflow: hidden;
}

.archive-content {
    text-align: center;
}

.archive-content:after {
    clear: both;
    display: block;
    content: "";
}

.archive-content {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.archive-image {
    border-radius: 100%;
    display: block;
    height: 60px;
    width: 60px;
    margin: 20px auto;
    overflow: hidden;
    text-align: center;
}


.archive-content p {
    clear: both;
    color: #888;
    margin-left: 30%;
    padding-left: 55px;
    text-align: left;
    text-indent: 0;
}


/** related article **/
.relative-article {
    margin: 40px 0 0;
    text-align: center;
}

.relative-article:after {
    content: "";
    display: table;
    clear: both;
}

.related-article-wrapper .related-article-single:last-child .related-article-content {
    border-right: none;
}

.related-article-content {
    border-right: 1px solid #eee;
    padding: 15px;
}

.related-article-content > h3 {
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
    padding: 15px 0;
}

.related-article-content > p {
    color: #444;
    font-size: 14px;
    line-height: 26px;
}

.related-article-single {
    width: 33%;
    float: left;

    transition: all .6s ease;
    -o-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
}

.related-article-single:hover {
    background: #fff4cc;
}

.related-article-single img {
    width: 100%;
}

/*  base : shortcode
/* ------------------------------------ */
.entry h1,.entry h2,.entry h3,.entry h4,.entry h5,.entry h6  { color: #2e2f34; margin-bottom: 15px; }
.entry h1 span,.entry h2 span,.entry h3 span,.entry h4 span,.entry h5 span,.entry h6 span { color: #999; }
.entry h1 { font-size: 38px; }
.entry h2 { font-size: 34px; }
.entry h3 { font-size: 28px; }
.entry h4 { font-size: 24px; }
.entry h5 { font-size: 20px; }
.entry h6 { font-size: 18px; }

.entry p { margin-bottom: 20px; text-indent: 20px; }

p.lead {
    font-size: 20px;
    line-height: 1.8em;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: justify;
    text-indent: 0;
}
.jeg-dropcap {
    display: inline-block;
    font-size: 40px;
    padding-right: 5px;
    position: relative;
    top: 3px;
}

.entry b, .entry strong { font-weight: bold; }
.entry em { font-style: italic; }
.entry ul { margin: 0 0 15px 30px; }
.entry ol ol,
.entry ol ul,
.entry ul ul,
.entry ul ol { margin-bottom: 0; }
.entry li { margin: 5px 0; }
.entry ul li,
.entry ol ul li { list-style: square; }
.entry ol li,
.entry ol ul ol li { list-style: decimal; }
.entry dt { color: #444; font-weight: 600;}
.entry address { margin-bottom: 1em; }

.entry ins { background: #fff486; }
.entry sub,.entry sup { font-size: 62.5%; }
.entry sub { vertical-align: sub; }
.entry sup { vertical-align: super; }

.entry li > ul, .entry li > ol {
    margin: 0 0 0 20px;
}

.entry blockquote {
    border-left: 10px solid #aaa;
    font-style: italic;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-top: 1px;
}
.entry blockquote p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.entry hr {
    border: 0;
    border-bottom: 1px solid #ddd;
    clear: both;
}

.entry address {
    font-style: italic;
    margin-bottom: 24px;
}

.entry pre {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 24px;
    max-width: 100%;
    overflow: auto;
    padding: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code,
kbd,
tt,
var,
samp,
pre {
    font-family: monospace, serif;
    font-size: 15px;
    -webkit-hyphens: none;
    -moz-hyphens:    none;
    -ms-hyphens:     none;
    hyphens:         none;
    line-height: 1.6;
}

.entry img.aligncenter {
    margin-top: 20px;
    margin-bottom: 20px;
}

.entry img.alignleft {
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.entry img.alignright {
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.entry .highlight {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    margin: 0 5px;
    padding: 3px 7px;
}


.entry .gallery:after {
    content: "";
    clear: both;
    display: block;
    margin-bottom: 25px;
}

.gallery-columns-1 .gallery-item { width: 100%; }
.gallery-columns-2 .gallery-item { width: 50%; }
.gallery-columns-3 .gallery-item { width: 33%; }
.gallery-columns-4 .gallery-item { width: 25%; }
.gallery-columns-5 .gallery-item { width: 20%; }
.gallery-columns-6 .gallery-item { width: 16%; }
.gallery-columns-7 .gallery-item { width: 14%; }
.gallery-columns-8 .gallery-item { width: 12%; }
.gallery-columns-9 .gallery-item { width: 11%; }

.entry .gallery-item a {
    border: none;
    padding: 0;
    display: list-item;
}

.entry .gallery-item img {
    width: 100%;
}

.gallery-item > div {
    padding: 5px;
}

.gallery-item {
    float: left;
    overflow: hidden;
    position: relative;
}

.gallery .gallery-caption {
    background: rgba(255,255,255,0.8);
    color: #2e2f34;
    font-size: 11px;
    line-height: 1.5em;
    padding: 10px 0;
    font-style: normal;
    margin: 0;
    bottom: -42px;
    left: 2px;
    right: 2px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    transition: all .2s ease;
    -o-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    text-align: center;
}
.entry .gallery .gallery-item:hover .gallery-caption  { bottom: 0; }


.meta-article-header {
    color: #888;
    display: block;
    font-size: 0.75em;
    letter-spacing: 0.2em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* tag */
.tag-wrapper {
    padding: 30px 0;
    text-align: center;
}

.article-tag {
    padding-top: 10px;
}

.article-tag > a {
    margin: 0 5px;
}

/*  base : sharing
/* ------------------------------------ */

.entry { position: relative; margin-top: 30px; }
.sharing-wrapper {
    left: -80px;
    position: absolute;
    text-align: center;
    top: 0;
}
.sharing > div {
    background: white;
    border: 1px solid #ddd;
    border-radius: 2px;
    cursor: pointer;
    margin: 0 0 15px;
    text-align: center;
    z-index: 100;
    color: #666;
}

.sharing > div:last-child {
    margin: 0 0 0;
}

.sharing i {
    font-size: 18px;
    line-height: 44px;
    width: 46px;
}

.sharing:after {
    content: "";
    height: 100%;
    left: -22px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.sharing > div:hover {
    border: 1px solid #aaa;
    background: #fafafa;
}

.sharing-facebook:hover { color: #3b5999; }
.sharing-twitter:hover { color: #00acee; }
.sharing-google:hover { color: #cd483c; }
.sharing-pinterest:hover { color: #ca2128; }

/** sharing bottom **/
.sharing-wrapper.bottom {
    left: auto;
    margin: 30px 15% 60px;
    position: relative;
    right: auto;
}

.sharing-wrapper.bottom .sharing {
    margin-top: 22px;
}

.sharing-wrapper.bottom .sharing > div {
    display: inline-block;
    margin: 0 6px;
}

.sharing-wrapper.bottom .sharing:after {
    /* border-bottom: 1px solid #eee; */
    border-right: medium none;
    left: 0;
    margin: 0 auto;
    top: -20px;
}

.sharing-wrapper.circle .sharing > div {
    border-radius: 100%;
}

/*  base : prev next article
/* ------------------------------------ */

.prev-next-article {
    background-color: #eee;
    border: 1px solid #ddd;
    cursor: pointer;
    height: 80px;
    position: fixed;
    bottom: 200px;
    width: 35px;
    z-index: 1;

    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);

    -webkit-transition: all 0.3s ease 0.3s;
    -moz-transition: all 0.3s ease 0.3s;
    -o-transition: all 0.3s ease 0.3s;
    transition: all 0.3s ease 0.3s;
}

.prev-next-article:hover {
    width: 300px;


    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.prev-next-article article {
    width: 260px;
    padding-top: 5px;
    opacity: 0;

    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);

    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.prev-next-article:hover article {
    opacity: 1;

    -webkit-transition: all 0.3s ease 0.3s;
    -moz-transition: all 0.3s ease 0.3s;
    -o-transition: all 0.3s ease 0.3s;
    transition: all 0.3s ease 0.3s;
}

.prev-next-article.prev-article {
    border-left: medium none;
    border-radius: 0 2px 2px 0;
    left: 0;
}

.prev-next-article.next-article {
    border-radius: 2px 0 0 2px;
    border-right: 0 none;
    right: 0;
}

.prev-next-article .arrow.arrow-left {
    border-color: transparent #bbb transparent transparent;
    border-style: inset solid inset inset;
    border-width: 9px 18px 9px 0;
    left: 7px;
}

.prev-next-article:hover .arrow.arrow-left {
    border-color: transparent #666 transparent transparent;
}

.prev-next-article .arrow.arrow-right {
    border-color: transparent transparent transparent #bbb;
    border-style: inset inset inset solid;
    border-width: 9px 0 9px 18px;
    right: 7px;
}

.prev-next-article:hover .arrow.arrow-right {
    border-color: transparent transparent transparent #666;
}

.prev-next-article .arrow {
    border-style: solid;
    display: block;
    height: 0;
    margin-top: 28.5px;
    overflow: visible;
    position: absolute;
    transition: border 0.2s ease-in 0s;
    width: 0;
    top: 0;
}

.prev-next-article .arrow.arrow-right .arrow-inner {
    border-color: transparent transparent transparent #f3f3f3;
    border-style: inset inset inset solid;
    border-width: 9px 0 9px 5px;
    left: -18px;
}

.prev-next-article .arrow.arrow-left .arrow-inner {
    border-color: transparent #f3f3f3 transparent transparent;
    border-style: inset solid inset inset;
    border-width: 9px 5px 9px 0;
    right: -18px;
}

.prev-next-article .arrow .arrow-inner {
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    top: -9px;
    width: 0;
}


.prev-next-article.prev-article article {
    margin-left: 40px;
}

.prev-next-article .thumb {
    float: left;
    height: 60px;
    overflow: hidden;
    padding: 6px 7px 0 5px;
    width: 60px;
}

.prev-next-article .thumb > img {
    border-radius: 100%;
}

.prev-next-article .summary {
    padding-left: 10px;
}

.prev-next-article .date {
    color: #a4abb2;
    display: block;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 16px;
    margin-bottom: 1px;
    margin-top: 1px;
    text-transform: uppercase;
}

.prev-next-article .heading {
    color: #2e2f34;
    font-size: 12px;
    font-weight: normal;
    line-height: 17px;
    margin-bottom: 0;
}


/*  base : forms
/* ------------------------------------ */
.themeform input,
.themeform textarea,
.themeform button,
.themeform select,
.themeform label { font-size: 14px; }
.themeform input::-moz-focus-inner,
.themeform button::-moz-focus-inner { border: 0; padding: 0; }
.themeform input[type="text"],
.themeform input[type="password"],
.themeform input[type="email"],
.themeform input[type="submit"],
.themeform button,
.themeform textarea { margin: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.themeform input,
.themeform textarea,
.themeform button { -moz-appearance: none; -webkit-appearance: none; -moz-transition: all .2s ease; -webkit-transition: all .2s ease; transition: all .2s ease; }
.themeform input[type="checkbox"] { -moz-appearance: checkbox; -webkit-appearance: checkbox; }
.themeform input[type="radio"] { -moz-appearance: radio; -webkit-appearance: radio; }
.themeform label { font-weight: 600; color: #444; }
.themeform input[type="text"],
.themeform input[type="password"],
.themeform input[type="email"],
.themeform textarea { background: #fff; border: 1px solid #ddd; color: #777; display: block; max-width: 100%; outline: none; padding: 7px 8px; -webkit-border-radius: 3px; border-radius: 3px; }
.themeform input[type="text"]:focus,
.themeform input[type="password"]:focus,
.themeform input[type="email"]:focus,
.themeform textarea:focus { color: #444; border-color: #aaa; -webkit-box-shadow: 0 0 5px rgba(71,71,71,0.3); box-shadow: 0 0 5px rgba(71,71,71,0.3); }
.themeform label .required { color: #333; }
.themeform input[type="submit"],
.themeform button[type="submit"] { border: 1px solid #bbb; background: #eee; color: #333; padding: 9px 25px; display: inline-block; cursor: pointer; -webkit-border-radius: 20px; border-radius: 4px; }
.themeform input[type="submit"]:hover,
.themeform button[type="submit"]:hover { background: #ddd; }



/*** comment ***/

.comment-wrapper {
    padding-top: 30px;
}

.comment-wrapper h3.heading {
    border-bottom: 1px solid #ddd;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 30px;
}

.comment-tab {
    margin-top: 40px;
}


.commentlist, .pinglist { margin-bottom: 20px; }
.commentlist li, .pinglist li { padding-left: 70px;  }
.commentlist .comment-body, .pinglist li  { clear: both; position: relative; padding-bottom: 20px; line-height: 1.8em; font-size: 15px; }
.commentlist .comment-author,
.commentlist .comment-meta,
.commentlist .comment-awaiting-moderation { font-size: 13px; display: block; float: left; line-height: 22px; }
.commentlist .comment-author { margin-right: 6px; margin-bottom: 10px; }
.commentlist .fn, .pinglist .ping-link { color: #444; font-size: 17px; font-style: normal; }
.commentlist .says { display: none; }
.commentlist .avatar { position: absolute; left: -70px; top: 0; width: 52px; height: 52px; -webkit-border-radius: 3px; border-radius: 100%; }
.commentlist .comment-meta:before, .pinglist .ping-meta:before { color: #ccc; content: "\f017"; font-family: FontAwesome; font-size: 10px; margin-right: 3px; vertical-align: 4%; }
.commentlist .comment-meta a, .pinglist .ping-meta { color: #aaa; }
.commentlist .reply {
    font-size: 12px;
    line-height: 16px;
}
.commentlist .reply a { color: #aaa; }
.commentlist .reply a:hover { color: #444; }
.comment-awaiting-moderation { color: #24a5db; font-style: normal; }

/* pings */
.pinglist li { padding-left: 0; }
.pinglist .ping-meta { font-size: 13px; line-height: 22px; }

/* comment text */
.commentlist .comment-body p { margin-bottom: 8px; color: #666; clear: both; }
.commentlist .comment-body strong { font-weight: bold; }
.commentlist .comment-body em { font-style: italic; }
.commentlist .comment-body ol li { list-style: decimal; margin-left: 2em; padding: 0; }
.commentlist .comment-body ul li { list-style: square; margin-left: 2em; padding: 0; }

/* child comment */
.commentlist li ul {  }
.commentlist li li { padding-left: 48px; margin: 0; }
.commentlist li li .avatar { width: 36px; height: 36px; left: -48px; top: 0; }
.commentlist li li .comment-meta { left: 70px; }

/*  comments : nav
/* ------------------------------------ */
.comments-nav { margin-bottom: 20px; padding: 10px 0; border-top: 2px solid #eee; border-bottom: 2px solid #eee; }
.comments-nav a { font-weight: 600; }
.comments-nav .nav-previous { float: left; }
.comments-nav .nav-next { float: right;  }





/*  comments : form
/* ------------------------------------ */
.logged-in-as,
.comment-notes,
.form-allowed-tags { display: none; }
#respond { position: relative; }
#reply-title { margin-bottom: 20px; }
li #reply-title { font-size: 0; margin: 0!important; padding: 0; height: 0; border-top: 0; }
#cancel-comment-reply-link {
    bottom: 18px;
    color: #999;
    display: block;
    font-size: 15px;
    position: absolute;
    right: 22px;
}
#cancel-comment-reply-link:hover { color: #777; }
#commentform {
    background:  #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 10px 20px 20px;
}
#commentform p.comment-form-author { width: 48%; float: left; }
#commentform p.comment-form-email { width: 48%; float: right; }
#commentform p.comment-form-url,
#commentform p.comment-form-comment { clear: both; }
#commentform label { padding: 6px 0; font-weight: 600; display: block; }
#commentform input[type="text"],
#commentform textarea { max-width: 100%; width: 100%; }
#commentform textarea { height: 100px; }
#commentform p.form-submit { margin-top: 20px; }
.logged-in #reply-title { margin-bottom: 20px; }
.logged-in #commentform p.comment-form-comment { margin-top: 10px; }
.logged-in #commentform p.comment-form-comment label { display: none; }

.heading, #reply-title {
    color: #2e2f34;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1em;
}




/* ------------------------------------------------------------------------- *
 *  Overlay & side menu
/* ------------------------------------------------------------------------- */

.global-viewport { position: relative; }
.global-overlay { display: none; background: rgba(253, 253, 253, 0.97); height: 100%; width: 100%; left: 0; position: absolute; top: 0; z-index: 2;}
.hideoverflow { overflow: hidden; }

.close-overlay {
    background: #aaa;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 18px;
    position: fixed;
    right: 20px;
    top: 20px;
    text-align: center;
    z-index: 1000;
    height: 30px;
    line-height: 30px;
    width: 30px;
}

.close-overlay:hover {
    background: #333;
}

.sidemenu {
    border-right: 1px solid #eee;
    height: 100%;
    position: fixed;
    top: 0;
    width: 300px;
    left: -300px;
    z-index: 999;
    background: white;
}

.sidelogo, .sidefooter { background: white; z-index: 99; position: relative }

.sidelogo {
    /* border-bottom: 1px solid #f3f3f3; */
    display: block;
    padding-top: 50px;
    text-align: center;
}

.sidefooter {
    /* border-top: 1px solid #f3f3f3; */
    bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.sidefooter .copyright {
    color: #888;
    display: block;
    font-size: 0.60em;
    letter-spacing: 0.1em;
    padding: 15px;
    text-transform: uppercase;
    line-height: 2em;
}

.sidenav {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 3.2em;
    margin-top: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -20px;
}

.sidenav a {
    color: #666;
    display: block;
    font-weight: 600;
    font-size: 14px;
}

.sidenav li {
    position: relative;
}

.sidenav li:hover {
    background: #f9f9f9;
    color: #000;
}

.sidenav li:hover > a {
    color: #000;
}

.sidenav li.menu-item-has-children > a:after {
    font-family: "FontAwesome", serif;
    content: "\f107";
    font-style: normal;
    left: 10px;
    position: relative;
    font-size: 12px;
}

.sub-menu {
    background:  white;
    border: 1px solid #eee;
    left: 300px;
    padding: 0px 0;
    position: absolute;
    top: -1px;
    width: 260px;
    display: none;
}

.sub-menu li:hover {
    background: #fcfcfc;
}


.sub-menu:after {
    border-color: transparent #eee;
    border-style: solid;
    border-width: 11px 14px 11px 0;
    content: "";
    left: -14px;
    position: absolute;
    top: 10px;
    z-index: 98;
}

.sub-menu li:first-child:after {
    position: absolute;
    left: -12px;
    content: "";
    top: 11px;
    border-style: solid;
    border-width: 10px 12px 10px 0;
    border-color: transparent #fff transparent;
    z-index: 99;
}

.sub-menu li:first-child:hover:after {
    border-color: transparent #fcfcfc transparent;
}

.sub-menu a {
    font-size: 13px;
}



/** author box **/
.author-box {
    background: #f6f6f6;
    border-radius: 2px;
    margin: 40px 0 0;
    padding: 23px 20px 20px;
    border: 1px solid #eee;
}

.author-box img {
    border-radius: 50%;
    display: block;
    float: left;
    height: 120px;
    width: 120px;
}

.author-box-wrap {
    margin-left: 150px;
}

.author-box h5 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 15px;
}

.author-box ul {
    font-size: 13px;
    margin-top: 8px;
}

.author-box li {
    display: inline-block;
    margin: 0 8px 0 0;
}

.author-box-wrap > p {
    font-size: 15px;
    text-indent: 0;
}

.author-box ul {
    margin: 10px 0 0;
    font-size: 14px;
}

/* ------------------------------------------------------------------------- *
 *  Anchor
/* ------------------------------------------------------------------------- */


.entry a, .entry a:before, .entry a:after,
article .content-meta a, article .content-meta a:hover,
.foot-social li a, .foot-social li a:hover,
.paging a, .paging a:hover,
.sidenav li a, .sidenav li:hover a,
.sidenav li, .sidenav li:hover,
.sub-menu li:first-child:after, .sub-menu li:first-child:hover:after,
.close-overlay, .close-overlay:hover,
.sharing > div, .sharing > div:hover,
.themeform a, .themeform a:hover,
article .content-time a, article .content-time a:hover {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}


/* ------------------------------------------------------------------------- *
 *  Element
/* ------------------------------------------------------------------------- */

.videocontent {
    width:80%;
    max-width: 640px;
    margin: 0 auto;
}

.video-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56%;
    position: relative;
}

.video-container iframe, .video-container object, .video-container embed, .video-container video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

[data-type="audio"] { width: 100%; }


.jeg-gallery-thumbnail img { width: 100%; }
.gallery-thumbnail-3 .gallery-item { width: 33%; }
.gallery-thumbnail-4 .gallery-item { width: 25%; }
.gallery-thumbnail-5 .gallery-item { width: 20%; }

.gallery-item > div {
    padding-left: 5px;
    padding-right: 5px;
}

.gallery-item {
    float: left;
    overflow: hidden;
    position: relative;
}

.gallery-item .overlay {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    opacity: 0;
}

.gallery-item .overlay i {
    border: 2px solid #fff;
    border-radius: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
    height: 40px;
    left: 50%;
    line-height: 40px;
    margin-left: -20px;
    margin-top: 0px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 40px;
}

.gallery-item .overlay:hover {
    opacity: 1;
}

.gallery-item .overlay:hover i {
    margin-top: -20px;
}

.gallery-item .overlay, .gallery-item .overlay:hover,
.gallery-item .overlay i, .gallery-item .overlay:hover i{
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}


/* ------------------------------------------------------------------------- *
 *  Search Element
/* ------------------------------------------------------------------------- */


.search-overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
    display: none;
}

.search-context {
    height: 100%;
    margin-left: 300px;
}

.search-input {
    margin-left: -200px;
    margin-top: -80px;
    position: relative;
    text-align: center;
    top: 50%;
}

.search-input input {
    border: none;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 8px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    background: transparent;
}

.search-input > span {
    color: #666;
    display: block;
    padding-top: 20px;
}

.searchnav {
    display: none;
}


/* ------------------------------------------------------------------------- *
 *  Plugin
/* ------------------------------------------------------------------------- */

/** swipebox **/

html.swipebox-html { overflow: hidden; }
#swipebox-overlay {
    background: rgba(255, 255, 255, 0.8);
}
#swipebox-action-bar {
    background:  rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#swipebox-action-bar {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#swipebox-prev {
    float: right;
}
#swipebox-close {
    left: 0;
    right: auto;
}
#swipebox-overlay a {
    color: #333;
    font-size: 21px;
    line-height: 50px;
    text-align: center;
    display: block;
    z-index: 99999;
}

#swipebox-prev, #swipebox-next, #swipebox-close, #swipebox-keyboard  {
    border: medium none !important;
    cursor: pointer;
    height: 50px;
    text-decoration: none !important;
    top: 0;
    width: 50px;
}

#swipebox-keyboard {
    left: 50px;
    position: absolute;
}

#swipebox-title {
    background:  rgba(255, 255, 255, 0.9);
    bottom: 0;
    display: block;
    line-height: 50px;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 15px;
}

#swipebox-slider .slide-loading {
    background: none;
}

#swipebox-slider .slide-loading:after {
    content: "\f110";
    font-size: 40px;

    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;

    display: inline-block;
    font-family: "FontAwesome", serif;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
}

#swipebox-overlay a {
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

#swipebox-overlay a:hover {
    background: #fafafa;
}

/** plugin override **/
.fotorama__dot {
    height: 8px;
    width: 8px;
}


.fotorama__nav__frame.fotorama__active .fotorama__dot {
    border-width: 5px;
    height: 0;
    width: 0;
}


/** video player ***/

.mejs-container {
    background:  #ddd;
}

.mejs-container .mejs-controls {
    background: #777;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
    background: #ccc;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background:  #fff;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
    background: #aaa;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    background: #fff;
    border-radius: 1px;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #aaa;
    border-radius: 1px;
}

.mejs-controls .mejs-time-rail span {
    border-radius: 1px;
}

.mejs-controls .mejs-play button,
.mejs-controls .mejs-pause button,
.mejs-controls .mejs-mute button,
.mejs-controls .mejs-unmute button,
.mejs-controls .mejs-fullscreen-button button {
    background: transparent;
    font-family: "FontAwesome", serif;
    color: #fff;
    font-size: 13px;
    display: block;
}

.mejs-controls .mejs-play button:after {
    content: "\f04b";
}

.mejs-controls .mejs-pause button:after {
    content: "\f04c";
}

.mejs-controls .mejs-mute button:after {
    content: "\f028";
}

.mejs-controls .mejs-unmute button:after {
    content: "\f026";
}

.mejs-controls .mejs-fullscreen-button button:after {
    content: "\f065";

}

.mejs-controls .mejs-mute button,
.mejs-controls .mejs-unmute button{
    left: -3px;
}

.mejs-poster {
    background-size: cover;
}

